# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
out/
build/
!/assets/not_used/
/assets/not_used/
.idea/inspectionProfiles/
.idea/workspace.xml
assets/not_used/
assets/tiles/LICENSE.txt
assets/tiles/README.txt
assets/tiles/UNUSED/
assets/tiles/dc-misc/
assets/tiles/dc-mon/
assets/tiles/effect/
assets/tiles/gui/
assets/tiles/item/
assets/tiles/player/
assets/tiles/spells/
assets/tiles/utility/
doc/item class diagram.uxf
